{% extends 'base.html' %}
{% load static %}

{% block title %}
  Django Blog Demonstration
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/includes/post.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blog/img/logo.jpg' %}" alt="test" />
      <h2>Django Blog</h2>
    </header>
    <p>This website was built as a demonstration for Pacific Rim Early Childhood Institute.</p>
  </section>

  <section id="latest-posts">
    <h2>Recent Posts</h2>
    <ul>
      {% for post in posts %}
        {% include 'blog/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>
  <section id="about">
    <h2>About</h2>
    <p>My name is Ryan Van de Kamp and I am applying for a DevOps position at Pacific Rim Early Childhood Institute. The purpose of this blog is to demonstrate my knowledge and ability with technologies relevant to the position, namely Django, MySQL, Docker, Docker Compose, Docker Hub, AWS EC2, and AWS RDS.</p>
  </section>
{% endblock %}
